<div class="page">
  <div class="card">
    <h1>Payment System Demo</h1>

    <!-- <p class="subtitle">
      Angular → API Gateway → Order Service → Kafka → Payment Service
    </p> -->

    <div class="form-group">
      <label>Amount</label>
      <input type="number" [(ngModel)]="amount" placeholder="Enter amount" />
    </div>

    <button (click)="createOrder()" [disabled]="loading">
      {{ loading ? 'Processing...' : 'Create Order' }}
    </button>

    <!-- <div class="hint">
      <p><b>500 / 700 / 800</b> → Payment SUCCESS → Order CONFIRMED</p>
      <p><b>1700</b> → Payment FAILED → Order CANCELLED</p>
      <p><b>9999</b> → Retry + DLQ demo</p>
    </div> -->

    <div *ngIf="error" class="error">
      {{ error }}
    </div>

    <div *ngIf="order" class="result">
      <h2>Order Details</h2>

      <div class="row">
        <span>Order ID</span>
        <strong>{{ order.id }}</strong>
      </div>

      <div class="row">
        <span>Amount</span>
        <strong>{{ order.amount }}</strong>
      </div>

      <div class="row">
        <span>Status</span>
        <strong [ngClass]="order.status.toLowerCase()">
          {{ order.status }}
        </strong>
      </div>

      <div class="row">
        <span>Created At</span>
        <strong>{{ order.createdAt }}</strong>
      </div>
    </div>
  </div>
</div>